@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<h1>Listado de Usuarios</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Direcci&oacute;n</th>
        <th>Tel&eacute;fono</th>
        <th>Acciones</th>
    </thead>
    @foreach (var usuario in Model.Usuario)
    {
        <tr>
            <td>@usuario.id</td>
            <td>@usuario.nombre</td>
            <td>@usuario.apellidos</td>
            <td>@usuario.direccion</td>
            <td>@usuario.telefono</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@usuario.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-busId="@usuario.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>